// colors and theming
$theme-colors: (
  "primary": #40658f,
  "secondary": #003352,
  "muted": #EAEAEA
);


@import "../bootstrap/scss/bootstrap";

// typography
@mixin meta-serif {
  font-family: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
}

.meta-serif {
  @include meta-serif;
}

@mixin scala-sans {
  font-family: "ff-scala-sans-pro", Helvetica, Arial, sans-serif;
}

.scala-sans {
  @include scala-sans;
}

body {
  @include meta-serif;
}

h1,
h2,
h3,
h4,
h5 {
    @include scala-sans;
    font-weight: 700;
}

h2 {
  margin-top: 2rem;
}

h3, 
h4,
h5 {
  margin-top: 1.5rem;
}

// colors
$lever-brand-color: #003352;
$lever-accent-color: #78B3E0;
$lever-black-80: #342f2e;

// links
p {
  a {
  text-decoration: underline;
  }
}

// buttons
.btn {
  @include scala-sans;
}


// navigation
.navbar {
  @include scala-sans;

  min-height: 6rem;

  .navbar-brand h1 {
    font-size: 1.6rem;
    margin: initial;
    display: inline;
    font-weight: 400;
  }

  .navbar-brand-logo {
    vertical-align: middle;
  }

}

// page
.page-container {
  padding: 5rem 0;
}

// cards

.card {
  border-radius: 0;

  picture,
  source {
    line-height: 0;
  };
}


// home
.books-container {
  padding: 3rem 0;

  .book-card-list {
    justify-content: space-evenly;
  }

  .book-card-covers-only-list {
    
  }
  
  // home - books
  .book-card {
    max-width: 540px;

    h3 {
      font-size: 1.25rem;
      margin-top: 0;
    }

    .card-img {
      border-radius: 0;
      max-height: 300px;
    }

    .card-text {
      font-size: .9rem;
    }

    .cover-only-img {
      min-width: 200px;
    }
  }
}

// home - tagline and newsletter button
.tagline-newsletter-container {
  background-color: $lever-brand-color;
  padding: 4rem 0;
  border-top: 1px solid rgba(0,0,0,.125);

  .tagline {
    font-weight: bold;
    font-size: 1.6rem;
  }
}

// home - for authors/for libraries, impact report
.author-library-container {
  padding: 2.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-top: 1px solid rgba(0,0,0,.125);
}

.video-impact-container {
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #f8f9fa;
}

.news-events-container, .video-impact-container {
  padding: 3rem 0;
  h2 {
    margin-bottom: 1rem;
  }
}

// news and events on homepage and individual pages
.post-image {
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 2em;
  margin-top: 2em;
}

.news {
  p {
    line-height: 1.7;
  }
}

.summary {

    p {
      font-size: 1.3rem;
      margin-bottom: 0;
      @include scala-sans;
      line-height: 1.5;
    }

    h4 {
      font-size: .9em;
      margin-top: .2em !important;
    }
}

.blog-card-container {

  a:hover {
    text-decoration: none;
  }

  .card:hover {
    border: 1px solid $lever-brand-color;
  }

  .card-image {
    max-height: 300px;
    overflow: hidden;
  }
}

// impact
.map {
  height: 60%;
}

.map-container a:hover {
  text-decoration: none;
  img {
    filter: grayscale(80%);
    filter: contrast(50%);
  }
}

// footer
.footer {
  background-color: $lever-brand-color;
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 3rem 0;

  .fulcrum {
    vertical-align: baseline;
  }
  
  .block {
    display: block;
  }

  p.social {
    padding-top: .4em;
    a {
      padding-right: 0.75em;
      svg {
        display: inline-block;
        vertical-align: middle;
        fill: $lever-accent-color;
      }
    }
  }

}


