.navbar-brand-logo {
  width: 10rem;
  height: 2.5rem;
  vertical-align: middle;
}

.lever-card-list {
  display: flex;
  align-items: top;
  margin: 1rem;
}

.lever-card {
  min-width: 10rem;
  max-width: 20rem;
  // border: none;
}

.lever-card-img {
  width: 225px;
  margin: auto;
}

.lever-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 575px) {
  .lever-card-list {
    flex-direction: column;
  }
  .lever-card {
    max-width: 20rem;
  }
}
