* {
  box-sizing: border-box;
}

.navbar {
  min-height: 6rem;

  .navbar-brand-logo {
    vertical-align: middle;
  }

}

// page
.page-container {
  padding: 5rem 0;
}


// home
.books-container {
  padding: 3rem 0;

  .lever-card-list {
    justify-content: space-evenly;
  }
  // card stuff
  .lever-card {
    max-width: 540px;

    .card-img {
      border-radius: 0;
      max-height: 300px;
    }

    .cover-only-img {
      min-width: 200px;
    }
  }
}


.tagline-newsletter-container {
  padding: 4rem 0;
  border-top: 1px solid rgba(0,0,0,.125);

  .tagline {
    font-weight: bold;
    font-size: 2rem;
  }
}

.author-library-container {
  padding: 2.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-top: 1px solid rgba(0,0,0,.125);
}

.video-impact-container {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.news-events-container, .video-impact-container {
  padding: 3rem 0;
  h2 {
    margin-bottom: 1rem;
  }
}

// news and events
.post-image {
  max-height: 500px;
  overflow: hidden;
}

.blog-card-container {
  .card-image {
    max-height: 300px;
    overflow: hidden;
  }
}

// impact
.map {
  height: 60%;
}

// footer
.footer {
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 3rem 0;

  .block {
    display: block;
  }

  p.social {
    padding-top: .4em;
    a {
      padding-right: 0.75em;
      svg {
        display: inline-block;
        vertical-align: middle;
        fill: grey;
      }
    }
  }

}
