* {
  box-sizing: border-box;
}

.navbar-brand-logo {
  width: 10rem;
  height: 2.5rem;
  vertical-align: middle;
}

// index
.index-grid {
  display: block;
}

.books-container {
  display: flex;
  background: lightskyblue;
}

.tagline-container {
  background: indianred;
  height: 10vh;

  .tagline {
    font-weight: bold;
    font-size: 2rem;
  }
}

.newsletter-container {
  background: lightgreen;
}

.news-container {
  background: mediumpurple;
}

.events-container {
  background: palegoldenrod;
}

.author-container {
  background: hotpink;
}

.library-container {
  background: lightseagreen;
}

.video-container {
  background: darkorange;
}

.map-container {
  background: aqua;

  .map-image {
    width: 20rem;
  }
}

// card stuff
.lever-card {
  min-width: 10rem;
  max-width: 20rem;

  .lever-card-img {
    width: 225px;
    margin: auto;
  }
}

.tiny-card {
  min-width: 10rem;
  max-width: 10rem;

  .lever-card-img {
    width: 100px;
    margin: auto;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.7rem;
  }
}


// footer
.lever-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 575px) {
  .lever-card-list {
    flex-direction: column;
  }
  .lever-card {
    max-width: 20rem;
  }
}
