.terrible-img-container {
  /* I don't know what I'm doing help */
  min-width: 100px;
  min-height: 100px;
  position: absolute;
}

.terrible-card-container {
  width: 200px;
  height: 500px;
  padding: 10px;
  border: black;
}
